<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dietitian</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/gallery.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/scrollToTop.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicondiet/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicondiet/favicon-16x16.png">
</head>
<style>
    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }
    nav .right ul li a {
        transition: color 0.5s ease, transform 0.5s ease;
    }
    nav .right ul li a:hover {
        color: #50C878;
        transform: scale(1.1);
        text-decoration: none;
    }
    .bounce {
        animation: bounce 2s infinite;
    }
</style>

<body>
    <div class="main2">
        <nav class="flex items-center justify-between px-6 py-3 border-b-2">
            <div class="left">
                <a href="/"><img class="h-[75px] object-cover" src="/images/baba shivbramhiji.png" alt=""></a>
            </div>
            <div class="right">
                <ul class="flex gap-6 items-center  ">
                    <li class="text-[#16436A] font-bold"><a href="/">Home</a></li>
                    <li class="text-[#16436A] font-bold"><a href="/">About</a></li>
                    <li class="text-[#16436A] font-bold"><a href="/gallery">Gallery</a></li>
                    <li class="text-[#16436A] font-bold"><a href="/contact">Contact</a></li>
                    <li class="text-[#16436A] font-bold"><a href="/login">Login</a></li>
                    <h4><i id="menu-btn" class="ri-menu-line"></i></h4>
                </ul>
            </div>
        </nav>
        <div id="slidebar">
            <a href="/">Home</a>
            <a href="/">About</a>
            <a href="/gallery">Gallery</a>
            <a href="/contact">Contact</a>
            <a href="/login">Login</a>
        </div>
        <div class="contact-content">
            <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold mb-6">Contact Us</h1>
            <div class="flex flex-col md:flex-row justify-center items-center">
                <div class="left md:w-1/2  text-white px-4">
                    <h3 class="text-lg md:text-xl mb-4">Feel free to contact us for any queries or feedback👋</h3>
                    <div class="bg-white h-80 p-4 rounded-md">
                        <form action="/contact" method="POST" class="flex flex-col  gap-8">
                            <input type="text" name="name" placeholder="Your Name" class="p-2 border rounded-md"
                                required>
                            <input type="email" name="email" placeholder="Your Email" class="p-2 border rounded-md"
                                required>
                            <textarea name="message" placeholder="Your Message" class="p-2 border rounded-md"
                                required></textarea>
                            <button type="submit"
                                class="p-2 bg-[#5fff94] font-semibold text-white rounded-md hover:bg-[#50C878] transition-colors">Send</button>
                        </form>
                    </div>
                </div>
                <div class="right md:w-1/2 mt-4 md:mt-0">

                    <iframe class="w-full h-96 md:h-[400px]"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14654.06221321371!2d79.80552024429957!3d23.333329416231855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3981b94d1daa2077%3A0xe6463b4949c9b68b!2sKarondi%2C%20Madhya%20Pradesh%20483113!5e0!3m2!1sen!2sin!4v1709634728112!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerPolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

        <div id="scroll-to-top" class="bounce" onclick="scrollToTop()">
            <span>&#8593;</span>
        </div>
    </div>

    <!-- Sidebar JS -->
    <script src="/javascripts/sidebar.js"></script>
    <!-- Scroll to top JS -->
    <script src="/javascripts/scrollToTop.js"></script>
</body>

</html>